*.cache
*.user
*.suo
*.sdf
*.ncrunchproject
*.ncrunchsolution
_Resharper.SupersonicSound
_Resharper.Caches

ConsoleTest/bin
ConsoleTest/obj
ConsoleTest/Dependencies/**/*.dll

SupersonicSound/bin
SupersonicSound/obj

SupersonicSound.Test/bin
SupersonicSound.Test/obj
SupersonicSound.Test/Dependencies/**/*.dll
